@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

:root {
  --almost-white: #FAFAFA;
  --medium-gray:  #686868;
  --light-gray: #ADADAD;
  --almost-black: #151515;
  --cornflower-blue: #726CEE;
  --aqua-blue: #4BB1DA;
  --medium-yellow:#EDD556;
  --bright-purple:#8E4CB6;
}

* {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
}

.cta{
/* styleName: Body S */
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
}
